# Dependencias
node_modules/

# Build output
dist/

# Archivos de contratos / storage local
storage/

# Configuración sensible
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
